<!DOCTYPE html>
<html>
<head>
    <title>스프링 부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<!--
페이지의 로딩 속도를 높이기 위해 css는 header에 js는 footer에 두었으므로 head가 다 실행된 후 body가 실행
js의 용량이 크면 body 부분의 실행이 늦어지므로 body의 하단에 두어 화면이 다 그려진 뒤에 호출
css는 화면을 그리는 역할이므로 깨진 화면을 사용자에게 보여주지 않기 위해 head에서 부름
bootstrap.js의 경우 제이쿼리에 의존하므로 제이쿼리가 부트스트랩보다 먼저 호출되도록 코드 작성
이제 HTML 태그들과 라이브러리들이 모두 레이아웃에 추가되므로 index.mustache에는 필요한 코드만 남게 됨
레이아웃 파일로 분리된 후 변경된 index.mustache
-->